
body {
    background: #a4aaa5; 
}

nav {
    width: 960px;
    height: 80px; 
    margin: 0 auto;
    background-color: white; 
    color: white; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  color: #777777;
}

a:hover {
  color: rgb(172, 87, 87)
}

.name {
  font-family: Georgia, 'Times New Roman', Times, serif
  font-size: 26px; 
  width: 250px; 
  height: 58px;
  text-align: center; 
  background-color:  rgb(65, 184, 182);
  float: left; 
  margin: 0 auto; 
  padding-top: 22px;
  padding-bottom: px;

}

ul {
    margin: 0;
    list-style: none;
    float: right; 
    font-family: sans-serif;
    color: gray; 
  }

li {
    display: inline-block;
    margin-left: 10px;
    padding-top: 25px;
    position: relative;
    margin-right: 20px; 
  }

.main {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  width: 960px;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: left; 
  height: 700px; 
  margin-top: 20px
}

.title {
  font-size: 26px; 
  color:  rgb(65, 184, 182);
  position: relative; 
  padding-left: 10px;
  height: 65px; 
  background-color: #ffffff; 
  padding-top: 30px;
  left: 34px;
  width: 900px;
  border-bottom: solid rgb(221, 220, 220);
}

.image {
  height: 240px;
  width: 240px;
  position: absolute;
  margin-left: 40px;
}

p2 {
  float: right; 
  width: 660px;
  margin-right: 20px;
  line-height: 2.0; 
  font-family: Arial, Helvetica, sans-serif;
  color: #777777; 
}

p3 {
  float: left;
  margin-left: 40px; 
  margin-right: 20px;
  line-height: 2.0; 
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
}

footer {
    width: 960px;
    height: 80px; 
    margin: 0 auto;
    background-color: white; 
    color:#ffffff; 
    margin-top: 10px;
    border-bottom: solid rgb(65, 184, 182) 10px;
}

div {
  background-color: white; 
}

grid {
  display: grid; 
  grid-template: 175px 175px / 250px 250px 250px;
  grid-gap: 15px 20px; 
  grid-row-gap: 100px;
  position: relative;
  left: 130px;
  top: 20px;
}

.container {
  width: 900px;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  position: relative;
  left: 20px;
  bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: grey; 
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid rgb(221, 220, 220); 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(65, 184, 182);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

@media screen and (max-width: 980px) {
  nav {
    width: 100%;
    max-width: 980px; 
  }

  .main {
    width: 100%;
    max-width: 980px; 
}

.container {
  width: 100%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    width: 100%;
    max-width: 768px; 
    position: static; 
  }

    .main {
      width: 100%;
      max-width: 768px; 
      height: 1000px; 
  }

  .container {
    width: 100%;
    max-width: 720px;
  }
    
@media screen and (max-width: 640px) {
    nav {
    width: 100%;
    max-width: 640px; 
    position: static; 
   }

   .main {
    width: 100%;
    max-width: 640px; 
    height: 1000px; 
  }
  .container {
    max-width: 100%; 
    width: 600px;
  }

  p2 {
    padding-left: 35px; 
  
  }
}



